body {
background-color:rgb(153, 178, 180);
font-size: 2.5rem;
font-family: "Century Gothic", sans-serif;
display: flex;
min-height: 100vh;
flex-direction: column;
}

img {
    vertical-align: baseline;
}


.nav {
    height: 150px;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    align-items: center;
    background-color: rgb(181, 204, 217);
    border: 1px;
    border: solid;
    border-color: black;
}

.footer {
    margin-top: auto;
}

.bottom {
    height: 100px;
    display: flex;
    gap: 7rem;
    align-items: center;
    justify-content: center;
    background-color: rgb(181, 204, 217);
    border: 1px;
    border: solid;
    border-color: black;
    list-style-type: none;
    margin-bottom: 0;
}


.carousel-inner {
    display: flex;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    border: solid;
}

.carousel-control-next {
    right: 20%;
}

.carousel-control-prev {
    left: 20%;
}

#carouselExampleCaptions {
    margin-top: 5%;
    margin-bottom: 5%;
}

p {
    font-size: 2rem;
}

.dropdown {
    margin-top: 3%;
    display: flex;
    justify-content: center;
}

.btn {
    border: solid;
    font-size: 2rem;
    width: 200px;
    height: 65px;
    background-color: rgb(181, 204, 217);
}

.card {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 3%;
    border: solid;
}

.cont {
    display: flex;
    justify-content: center;
}

.contact-info {
    margin-top: 3%;
    margin-bottom: 3%;
}

.content-container-3 {
    display: flex;
    justify-content: center;
}

.pushkin-info {
    margin-top: 3%;
    margin-bottom: 3%;
    width: 45%;
}

.ticket-container {
    display: flex;
    justify-content: center;
}

.buy-container {
    margin-top: 3%;
    display: flex;
    justify-content: center;
}

.buy-info {
    display: block;
    background-color: rgb(181, 204, 217);
    width: 600px;
    height: 400px;
    border: solid;
}

.ticket-info {
    margin-top: 3%;
    margin-bottom: 3%;
    width: 45%;
}

.info1 {
    display: flex;
    justify-content: center;
}
.info2 {
    display: flex;
    justify-content: center;
}
.info3 {
    display: flex;
    justify-content: center;
}
.info4 {
    display: flex;
    justify-content: center;
}

.map {
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
}

a {
    color: black;
}
a:link {
    color: black;
}
a:visited {
    color: black;
}
a:focus {
    color: black;
}
a:hover {
    color: black;
}
a:active {
    color: black;

}